**/.*
!.gitignore
**/__pycache__/
**/*.pyc
**/__pycache__
**/*.nii*
./neuroinfer/results/*
**/*.egg*
./neuroinfer/templates/*
**/*.ipynb
**/*.txt
**/*cpython*
neuroinfer/.vscode/
neuroinfer/.neuro/
/.vscode/
/.neuro/
/venv/
.neuro/
.neuro
**/*.pkl