body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", serif; /* Use a classic font (example: Times New Roman) */
  background-color: #222;
  min-width: 1200px;
}

.banner {
  background-color: #333; /* Set background color to black */
  color: #fff; /* Set text color to white */
  text-align: center; /* Align text to the center */
  padding: 20px; /* Add padding of 20 pixels */
  font-size: 2rem; /* Set font size to 1.5 rem units */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    "Times New Roman", "Lucida Grande", sans-serif;
  letter-spacing: 1.5px; /* Add slight letter spacing for better readability */
  text-transform: uppercase; /* Convert text to uppercase */
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

#visualizer,
#graphics-container,
#radio-grid-container,
#graphics-container,
#image-navigator,
#form-container {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container {
  width: 32%;
  padding: 20px;
  margin: 10px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container label {
  margin-bottom: 8px;
}

.container input,
.container textarea {
  margin-bottom: 16px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#coords {
  display: inline;
}

#coords label {
  padding-left: 10px;
}

#coords input {
  width: 80px;
}

#radiuscontainer {
  display: inline;
}

#radius {
  width: 80px;
  margin-top: 40px;
}

button {
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.removemask {
  padding: 0px;
  border-radius: 0px;
  background-color: #aaa;
  width: 20px;
  margin-left: 10px;
}

.graphics-container {
  background-color: #3498db;
  color: #fff;
  text-align: center;
}

#autocomplete-suggestions {
  position: absolute;
  background-color: #fff;
  border: 2px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 5px;
  /* New CSS for inline display and max suggestions */
  display: flex;
  flex-wrap: wrap;
  max-width: 300px; /* Adjust as needed */
}

#autocomplete-suggestions div {
  padding: 8px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  background-color: #fff;
}

#autocomplete-suggestions div:hover {
  background-color: #eee;
}

#autocomplete-suggestions div:nth-child(n + 7) {
  display: none; /* Hide additional suggestions */
}

#autocomplete-suggestions::after {
  flex: 1 0 auto; /* Force remaining space */
  text-align: right;
  margin-left: 5px;
}

/* Media query for screens with width less than 1200px */
@media (max-width: 1200px) {
  body {
    min-width: auto;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 80%;
  }
}

.hr-text {
  line-height: 2em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  margin: 1em 0; /* Add margin for spacing between form elements */
  &:before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}

/* Style for the tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.help-caller {
  display: inline;
  width: 20px;
}

#radio-grid-container {
  display: none;
  padding: 10px;
  margin-top: 20px;
}

#image-navigator {
  display: none;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-bottom: 20px;
}

.grid-item {
  padding: 5px;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden; /* Hide overlay by default */
}

.overlay.visible {
  visibility: visible; /* Show overlay when the visible class is added */
}

.loading-bar {
  border: 4px solid #3498db;
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.second-loading-bar {
  margin-top: 20px;
  width: 100%;
  background-color: #f3f3f3;
  height: 20px;
}

#second-loading-progress {
  width: 0%;
  background-color: #3498db;
  height: 100%;
}

.progress-text {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider-container {
  display: block;
  width: 100%;
  margin: 0 10px;
}
.slider {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #000;
  cursor: pointer;
  border-radius: 50%;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #000;
  cursor: pointer;
  border-radius: 50%;
}
